body {
	position: relative; 
	font-family:'Lobster Two', cursive;
	background-image:url("../images/PaintSquares.jpg");
	background-size: 200%;
	
}

.card{
	height: 500px
}

.imgcard{
	height: 300px;
	width: auto;
}
  
  nav {
	  font-size: x-large;
	background-color: tan;
	width: 100%;
  }
  
  #navbar-toggler-icon {
	  font-size: x-large;
	color:cadetblue;
  }
  
  li a {
	color: seashell;
  }
  
  .jumbotron {
	background-color: cadetblue;
	background-size: 100%;
	color:seashell;
	height: 600px;
	width: 100%;
  }
  
  #name-tag {
	-webkit-text-stroke: 3px silver;
	color:seashell;
	font-size: 55px;
  }
  
  .text-about i {
	margin-left: 15px;
	font-size: 55px;
	color: seashell;
  }
  
  .text-about i:hover {
	color: tan;
  }
  
  h1 {
	font-weight: 700;
	font-size: 50px;
  }
  
  .link-wrapper {
	text-align: center;
  }
  

  
  .embeddedLink:hover {
	color: slategray;
	background-color: palegoldenrod;
	border-radius: 10px;
	text-decoration: none;
  }
  
  .portfolio {
	display: inline-block;
  }
  
  #portfolioHeader {
	text-align: center;
	color:cadetblue;
	font-weight: 200;
	font-size: 55px;
  }

  
  .button-wrapper {
	width: 100%;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
			flex-flow: row wrap;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  
  #download-button {
	border: solid 1px seashell;
	color: seashell;
	padding: 10px;
	margin: 20px;
  }
  
  #download-button:hover {
	background-color: seashell;
	color: goldenrod;
  }
  
  #resume {
	background-color: cadetblue;
  }
  
  #resume h2 {
	color: seashell;
	font-weight: 500;
  }
  
  #resume li {
	color: seashell;
	font-weight: 200;
	font-size: x-large;
  }
  
  #resume dd {
	color: seashell;
	font-weight: lighter;
	font-size: x-large;
  }
  
  #resume dt {
	color:seashell;
	font-size: x-large;

  }
  
  #resume .skills {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
			flex-flow: column wrap;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
			float: left;
  }
  
  #resume .skills .sub-header {
	width: 150%;
	border-top: solid 3px seashell;
  }
  
  #resume .education .sub-header {
	width: 100%;
	border-top: solid 3px seashell;
  }

  #resume .education {
	width: 40%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
			flex-flow: column wrap;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	float: left;
  }
  

  
  #resumeHeader {
	text-align: center;
	color:seashell;
	font-weight: 700;
	font-size: 55px;
  }
  
  .star-primary {
	width: 45%;
	border-top: solid 3px seashell;
  }
  
  #contact {
	background-color: tan;
	text-align: center;
	color:seashell;
  }
  
  #contact p {
	font-size: 30px;
	color:seashell;
  }
  
  
  #portfolio-header {
	text-align: center;
  }
  
  footer {
	text-align: center;
	margin: 20px 40px;
	color: cadetblue;
  }
  
  @media (max-width: 767px) {
	#resume .col {
	  width: 100%;
	}
	nav ul {
	  display: block !important;
	}
	nav li a:hover {
	  background-color: teal;
	  color: seashell
	}
  }
  
  .image-wrapper {
	text-align: center;
  }
  
  .portfolio-main-image {
	width: 350px;
  }
  
  @media (min-width: 768px) {
	.text-about {
	  text-align: justify;
	  text-justify: inter-word;
	  padding-left: 20%;
	}
	.skills {
	  float: none;
	  width: 100%;
	}
	.education {
	  float: none;
	  width: 100%;
	}
	
	li a:hover {
	  background-size: 100% 100%;
	  color: cadetblue;
	  font-size: large;
	  background-color: seashell;
	}
	li a:active {
	  background-size: 80% 100%;
	}
  
	
